body{
	background-color:#9fc5e4!important;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:40px;
	height: 40px;
}
.contact-form {
	margin: 80px;
	width: 80px;
}
